<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>proxyDomain</key>
	<string>torus-test.auth0.com</string>
	<key>browserRedirectUri</key>
	<string>https://scripts.toruswallet.io/redirect.html</string>
	<key>redirectUri</key>
	<string>torus://org.torusresearch.sample/redirect</string>
	<key>verifiers</key>
	<array>
		<dict>
			<key>typeOfLogin</key>
			<string>google</string>
			<key>verifier</key>
			<string>google-lrc</string>
			<key>clientId</key>
			<string>221898609709-obfn3p63741l5333093430j3qeiinaa8.apps.googleusercontent.com</string>
		</dict>
		<dict>
			<key>typeOfLogin</key>
			<string>facebook</string>
			<key>verifier</key>
			<string>facebook-lrc</string>
			<key>clientId</key>
			<string>617201755556395</string>
		</dict>
		<dict>
			<key>typeOfLogin</key>
			<string>twitch</string>
			<key>verifier</key>
			<string>twitch-lrc</string>
			<key>clientId</key>
			<string>f5and8beke76mzutmics0zu4gw10dj</string>
		</dict>
		<dict>
			<key>typeOfLogin</key>
			<string>discord</string>
			<key>verifier</key>
			<string>discord-lrc</string>
			<key>clientId</key>
			<string>682533837464666198</string>
		</dict>
		<dict>
			<key>typeOfLogin</key>
			<string>apple</string>
			<key>verifier</key>
			<string>torus-auth0-apple-lrc</string>
			<key>clientId</key>
			<string>m1Q0gvDfOyZsJCZ3cucSQEe9XMvl9d9L</string>
		</dict>
		<dict>
			<key>typeOfLogin</key>
			<string>github</string>
			<key>verifier</key>
			<string>torus-auth0-github-lrc</string>
			<key>clientId</key>
			<string>PC2a4tfNRvXbT48t89J5am0oFM21Nxff</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>LinkedIn</string>
			<key>typeOfLogin</key>
			<string>linkedin</string>
			<key>verifier</key>
			<string>torus-auth0-linkedin-lrc</string>
			<key>clientId</key>
			<string>59YxSgx79Vl3Wi7tQUBqQTRTxWroTuoc</string>
		</dict>
		<dict>
			<key>typeOfLogin</key>
			<string>twitter</string>
			<key>verifier</key>
			<string>torus-auth0-twitter-lrc</string>
			<key>clientId</key>
			<string>A7H8kkcmyFRlusJQ9dZiqBLraG2yWIsO</string>
		</dict>
		<dict>
			<key>typeOfLogin</key>
			<string>line</string>
			<key>verifier</key>
			<string>torus-auth0-line-lrc</string>
			<key>clientId</key>
			<string>WN8bOmXKNRH1Gs8k475glfBP5gDZr9H1</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Passwordless</string>
			<key>typeOfLogin</key>
			<string>jwt</string>
			<key>verifier</key>
			<string>torus-auth0-passwordless</string>
			<key>clientId</key>
			<string>P7PJuBCXIHP41lcyty0NEb7Lgf7Zme8Q</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>SMS</string>
			<key>typeOfLogin</key>
			<string>jwt</string>
			<key>verifier</key>
			<string>torus-auth0-sms-passwordless</string>
			<key>clientId</key>
			<string>nSYBFalV2b1MSg5b2raWqHl63tfH3KQa</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Email password</string>
			<key>typeOfLogin</key>
			<string>Username-Password-Authentication</string>
			<key>verifier</key>
			<string>torus-auth0-email-password</string>
			<key>clientId</key>
			<string>sqKRBVSdwa4WLkaq419U7Bamlh5vK1H7</string>
		</dict>
	</array>
	<key>aggregateVerifier</key>
	<dict>
		<key>id</key>
		<string>chai-google-aggregate-test</string>
		<key>verifiers</key>
		<array>
			<dict>
				<key>typeOfLogin</key>
				<string>google</string>
				<key>verifier</key>
				<string>google-chai</string>
				<key>clientId</key>
				<string>884454361223-nnlp6vtt0me9jdsm2ptg4d1dh8i0tu74.apps.googleusercontent.com</string>
			</dict>
		</array>
	</dict>
	<key>appleVerifier</key>
	<string>customauth-sample-apple-native</string>
</dict>
</plist>
